<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Confusables mini-game</title>
    <link href="/static/style.css?2026-02-07" rel="stylesheet" />
  </head>
  <body>
    <main>
      <h1>𖬏hat does this character look like?</h1>
      <h2></h2>
      <div id="alphabet">
        <button>Aa</button>
        <button>Bb</button>
        <button>Cc</button>
        <button>Dd</button>
        <button>Ee</button>
        <button>Ff</button>
        <button>Gg</button>
        <button>Hh</button>
        <button>Ii</button>
        <button>Jj</button>
        <button>Kk</button>
        <button>Ll</button>
        <button>Mm</button>
        <button>Nn</button>
        <button>Oo</button>
        <button>Pp</button>
        <button>Qq</button>
        <button>Rr</button>
        <button>Ss</button>
        <button>Tt</button>
        <button>Uu</button>
        <button>Vv</button>
        <button>Ww</button>
        <button>Xx</button>
        <button>Yy</button>
        <button>Zz</button>
      </div>
      <div id="controls">
        <button id="skip">Skip</button>
        <button id="nothing">Doesn't look like anything to me</button>
      </div>
      <details>
        <summary>Help</summary>
        <p>
          If the character displayed looks like a basic Latin alphabet
          character, hit the corresponding button or press the corresponding key
          on your keyboard.
        </p>
        <p>
          If it doesn't, then hit the
          <span>Doesn't look like anything to me</span> button, or press
          Backspace.
        </p>
        <p>
          If you're unsure or you don't want to answer, hit the
          <span>Skip</span> button or press Space.
        </p>
        <p>Letter case does not matter.</p>
        <p>
          If the character displayed doesn't display properly on your machine,
          looks like a digit, or looks like multiple alphabet characters, skip
          it.
        </p>
        <p>Thank you!</p>
      </details>
    </main>
    <script src="/static/script.js?2026-02-10"></script>
  </body>
</html>
