:root {
  --background-color: #fcfcfc;
  --foreground-color: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #333333;
    --foreground-color: #fcfcfc;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--foreground-color);
}
main {
  max-width: 60em;
  margin: auto;
  padding: 0.2em;
  position: relative;  
  text-align: center;
  visibility: hidden;
}

h1 {
  margin: 0.1em;
  padding: 0;
  font-size: 200%;
}

h2 {
  outline: 1px solid;
  display: inline-block;
  margin: 1em;
  padding: 1em;
  font-size: 3ch;
  height: 3ch;
  overflow: hidden;
}

summary {
  font-size: 140%;
}

button {
  padding: 1em;
  margin: 1em 0.5em;
}

p {
  font-size: 120%;
  margin: 0.5em auto;
  padding: 0.5em 1em;
  text-align: justify;
}

span {
  outline: 1px dotted;
  padding: 0.1em;
}
